@model TransaccionCreacionViewModel

@{
    ViewData["Title"] = "Crear transaccion";
}

<h1>Crear Transaccion</h1>
<h5>
    Una transacción te permite indecar tus ingresos y gastos
</h5>

<form asp-action="Crear">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Cuentas">
    <input type="hidden" asp-for="Categorias">
    <input type="hidden" asp-for="Cuenta">
    <input type="hidden" asp-for="Categoria">

    <div class="mb-3">
        <label asp-for="FechaTransaccion" class="form-label"></label>
        <input asp-for="FechaTransaccion" class="form-control"></input>
        <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CuentaId" class="form-label"></label>
        <select asp-for="CuentaId" asp-items="Model.Cuentas" class="form-select"></select>
        <span class="text-danger" asp-validation-for="CuentaId"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>
        <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select">
        </select>
        <span class="text-danger" asp-validation-for="CuentaId"></span>
    </div>
    <!--
        Categorias relacionadas con el tipo operacion
        El campo categoría es un campo especial, pues representa lo que se conoce
        como un dropdown cascada o dependiente.
        Los valores de categoría dependen de otro campo(tipoOperacion).
        Si el usuario desea registrar un ingreso tiene que aparecer las categorias relacionadas con ingreso.
        Si el usuario desea registrar un gasto tiene que aparecer las categorias relacionadas con gasto.
    -->
    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label"></label>
        <select asp-for="CategoriaId" asp-items="Model.Categorias" class="form-select"></select>
        <span class="text-danger" asp-validation-for="CategoriaId"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Monto" class="form-label"></label>
        <input asp-for="Monto" class="form-control"></input>
        <span asp-validation-for="Monto" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nota" class="form-label"></label>
        <textarea asp-for="Nota" class="form-control"></textarea>
        <span asp-validation-for="Nota" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script>

    <!--
                            Añadimos jquery para realizar la accion.
                    -->
    <script>

        $(function () {
            inicializarFormularioTransaciones('@Url.Action("ObtenerCategorias")');
        })
    </script>

}