<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- Vamos a indicar este es un fragmento que utilizaremos en otras paginas -->
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>

        <footer th:fragmento="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span> [[#{plantilla.pie-pagina}]] <a href="https://es.wikipedia.org/wiki/Todos_los_derechos_reservados" target="_blank">Derechos</a></span>
            </div>
        </footer>

    </body>
</html>
