#reordenable tr {
    cursor: move;
}

/*
    display: flex;  => en cajas
    justify-content: space-around; => espacio entre cajas
*/

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo {
    color: blue;
}

.pasivo {
    color: red;
}
