@model TipoCuenta
@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear tipo de cuenta</h1>

<h5>
    El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos: Prestamos, tarjetas de credito, etc.
</h5>

<!--
    Hay dos categorias de errores:
    -- errores de campo > Especificos del campo
    -- errores de modelo > errores generales
-->
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<!--NO es neceario poner asp-controller porque estamos debajo del controlador TipoCuenta -->
<form asp-controller="TipoCuenta" asp-action="Crear">
    <div class="mb-3">
        <!--"asp-for" va ha tomar el nombre del campo y colocara en el label-->
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}